{% set version = executeMethod("System\\System","getVersion") %}
<div class="ui attached inverted menu dark-background shadow">
    <div class='ui container'>
        <div class="ui item mobile only column tablet only column grid">
            {{ component('menu') }}
        </div>
        <div href="#" title="{{ brand.title }}" class="item">    
            {% if brand.image.src -%}
            <img width="32px" height="32px" alt="{{ brand.image.alt }}" src="{{ system_template_url }}/images/{{ brand.image.src }}">
            {% endif -%}    
            <div class="page-title">
                {{ brand.title }}
            </div>          
        </div>   
        <div class="ui computer only column inverted right menu dark-background grid">    
            <a class="item" href="{{ url('admin/') }}">
                <i class="icon options"></i>
                {{ labels.admin }}
            </a>
        </div>
    </div>
</div>
<div class="ui equal width padded grid">
    <div class="olive column">
        <div class="ui container padding-left-4 dark-color">
            <div class="computer column tablet column">
                <h4>{{ sub_title }}</h4>
            </div>
            <div class="version">
                {{ labels.version }} <span class="text">{{ version }}</span>
            </div>
        </div>
    </div>
</div>