<div class="ui fluid raised card change-password-form mt-4">
    <div class="content">
        <form class="ui form" id="change_password_form" method="post">
            <div class="field">
                <label>{{ password.label }}</label>
                <div class="ui left icon input">
                    <i class="icon lock"></i>
                    <input type="password" name="password" id="password" {{ password.placeholder|attr("placeholder") }}>    
                </div>
            </div>
            <div class="field">
                <label>{{ repeat_password.label }}</label>
                <div class="ui left icon input">
                    <i class="icon lock"></i>
                    <input type="password" name="repeat_password" id="repeat_password" {{ repeat_password.placeholder|attr("placeholder") }}>    
                </div>
            </div>                        
            <button class="ui fluid large primary button" id="save_button">{{ buttons.save.title }}</button>     
            <div class="ui error no-border pt-0 pb-0 message mini errors"></div>            
        </form>
    </div>
</div>