<div class="ui center aligned footer footer-shadow">
    <div class="ui computer only column tablet only column inverted dark-background padding-1">
        <div class="ui five column wide container grid">                       
            <div class="ui computer only column tablet only column">      
                <a href="http://arikaim.com" class="item white" target="arikaim">
                    <i class="icon home"></i> 
                    {{ links.home }}
                </a>
            </div>
            <div class="ui computer only column tablet only column">
                <a href="http://arikaim.com/license.html" class="item white" target="arikaim">
                    <i class="icon copyright"></i> 
                    {{ links.license }}
                </a>  
            </div>
            <div class="ui computer only column tablet only column">
                <a href="http://store.arikaim.com" class="item white" target="arikaim">
                    <i class="icon shopping basket"></i>
                    {{ links.store }}
                </a> 
            </div>
            <div class="ui computer only column tablet only column">
                <a href="http://arikaim.com/documentation/" class="item white" target="arikaim">
                    <i class="icon info circle"></i>
                    {{ links.doc }}
                </a>
            </div>
            <div class="ui computer only column tablet only column">
                <a href="http://arikaim.com/news.html" class="item white" target="arikaim">
                    <i class="icon newspaper outline"></i> 
                    {{ links.news }}
                </a>         
            </div>
        </div>
    </div>
</div>