RewriteEngine On

Options -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<Files *.php >
    Order Deny,Allow
    Deny from all
</Files>

<Files index.php >
    Order Allow,Deny
    Allow from all
</Files>

<FilesMatch "arikaim\.(?:htm|html|json)$" >
    Order deny,allow
    Deny from all
</FilesMatch>