RewriteEngine On

Options -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Deny access to html, json, zip, phar, txt and yml files
RewriteRule ^arikaim/.*(?:htm|html|json|zip|phar|txt|yml|yaml)$ - [F,NC]

# Deny access for all fils in /storage/
RewriteRule ^arikaim/storage/(.*)$ - [F,NC]

# Deny access for all php files except index.php
RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
RewriteRule \.php$ - [F]

<IfModule mod_php7.c>
    # PHP config vars
    php_value upload_max_filesize 50M
    php_value post_max_size 50M
</IfModule>

<IfModule mod_headers.c>  
    # CORS header
    Header set Access-Control-Allow-Origin "*"
    Header always unset Content-Security-Policy
    Header always unset X-Content-Security-Policy
    # Cache header for css|js
    <FilesMatch ".(css|js)$">
        Header set Cache-Control "max-age=86400, public"       
    </FilesMatch>
    # Cache header for js,css,ico,jpg,jpeg,png,gif files
    <FilesMatch ".(ico|jpg|jpeg|png|gif|woff2|woff|svg|css|js)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>
    # Service worker header
    <FilesMatch ".(js)$">
        Header set Service-Worker-Allowed "/"
    </FilesMatch>
</IfModule>