{% set id = id|default(name ~ '_id') %}
<div class="field {{ class }}">  
    {% if field_label is not empty %}
        <label>{{ field_label }}</label>
    {% endif %}   
    <div class="ui checkbox checkbox-field {{ field_class }}">
        <input 
            {{ rule|attr('rule') }}      
            type="checkbox"           
            {{ value|ifthen(1,'checked') }} 
            data-field-id="{{ id }}">
        <input 
            type="hidden" 
            name="{{ name }}" 
            value="{{ (value is empty) ? '0' : '1' }}" 
            id="{{ id }}">
        {% if label is not empty %}
            <label class="{{ label_class }}">{{ label }}</label>            
        {% endif %}               
    </div>  
</div>