<div class="ui inverted vertical footer segment footer-shadow">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">               
                <div class="ui inverted link list">      
                    <a href="http://arikaim.com" class="item" target="arikaim">
                        <i class="icon home"></i> 
                        Arikaim
                    </a>        
                </div>
            </div>
            <div class="three wide column">               
                <div class="ui inverted link list">      
                    <a href="http://arikaim.com/license.html" class="item" target="arikaim">
                        <i class="icon copyright"></i> 
                        License
                    </a>        
                </div>
            </div>
            <div class="three wide column">               
                <div class="ui inverted link list">
                    <a href="http://store.arikaim.com" class="item" target="arikaim">
                        <i class="icon shopping bag"></i>
                        Arikaim Store
                    </a>              
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted link list">                   
                    <a href="http://documentation.arikaim.com/" class="item" target="arikaim">
                        <i class="icon info circle"></i>
                        Documentation
                    </a>                   
                </div>
            </div>
            <div class="three wide column">   
                <div class="ui inverted link list">                
                    <a href="http://arikaim.com/news.html" class="item" target="arikaim">
                        <i class="icon newspaper"></i> 
                        News
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>