{% component 'components:view.rows' %}
    {% set logger = service("logger").readSystemLogs() %}
    {% set paginator = paginate(logger,'logs') %}
    {% for row in paginator.getItems() %}
        <tr>
            <td class="collapsing">{{ row.timestamp|dateFormat }} {{ row.timestamp|timeFormat }}</td>
            <td class="center aligned collapsing">{{ component('components:labels.log',{ name: row.level_name }) }}</td>
            <td>{{ row.message }}</td>           
            <td class="">{{ row.extra.details }}</td>           
        </tr>
    {% endfor %}
{% endcomponent %}