{% import systemMacro("logs.html") as macros %}
{% set logs = executeMethod("Logger\\SystemLogger","readSystemLogs") %}
<table class="ui compact striped table">
    <thead>
        <tr>                
            <th class="single line">{{ columns.date }}</th>
            <th>{{ columns.type }}</th>
            <th>{{ columns.message }}</th> 
            <th>{{ columns.details }}</th>    
        </tr>
    </thead>
    <tbody>
    {% if logs.rows is empty %}
        <tr>
            <td colspan="3">{{ messages.empty }}</td>
        </tr>
    {% else %}
        {% for row in logs.rows %}
        <tr>
            <td class="collapsing">{{ row.timestamp|dateFormat }} {{ row.timestamp|timeFormat }}</td>
            <td class="center aligned collapsing">{{ macros.logLabel(row.level_name) }}</td>
            <td>{{ row.message }}</td>           
            <td class="">{{ row.extra.details }}</td>           
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>  
</table>
<div class="margin-top-1">
    {{ component("system:paginator",logs.paginator) }}
</div>