{% set id = id|default('date_format') %}
{% set default = default|default(labels.default) %}

<div class="ui dropdown {{ class|default('basic button') }}" id="date_format">   
    <i class="icon calendar"></i>
    <i class="icon dropdown"></i>   
    {% if selected is empty %}      
        <div class="text">{{ default }}</div>
    {% else %}
        <div class="text">{{ "now"|date(selected) }}</div>
    {% endif %}   
    <div class="menu">   
    {% for key, value in items %}
        <div class="item {{ value|ifthen(selected,'active') }}" data-value="{{ value }}">
            {{ "now"|date(value) }}
            <div class="description">               
                {{ key }}                       
            </div>
        </div>      
    {% endfor %}
    </div>
</div>