{# { id: 'download_button', title: labels.upload.content, component: 'system:admin.libraries.upload', icon: 'upload' }, #}
{% set items = [ 
    { id: 'view_button', title: labels.view.content, component: 'system:admin.libraries.view', icon: 'grid layout', active: true },
    { id: 'details_button', title: labels.details.content, component: 'system:admin.libraries.library.details', icon: 'edit' },   
    { id: 'repository_button', title: labels.download.content, component: 'system:admin.libraries.download', icon: 'olive download' }
] %}

{{  component('components:tabs',{ 
        items: items,
        content: { component: 'system:admin.libraries.view' } 
    })
}}