{% import systemMacro("include.html") as include %}
{% import systemMacro("head.html") as head_macro %}
<head lang="{{ getLanguageCode() }}">
    <title>{{ head.title }}</title>    
    <meta charset="utf-8">  
    {{- head_macro.metaHttp("content-type",head.content_type) -}}         
    {{ head_macro.metaHttp("cache-control",head.cache_control) }}    
    {{ head_macro.meta("description",head.description) }}
    {{ head_macro.meta("keywords",head.keywords) }}
    {{ head_macro.meta("application-name",head.application_name) }}
    {{ head_macro.meta("googlebot",head.googlebot) }}
    {{ head_macro.meta("robots",head.robots) }}
    {{ head_macro.meta("viewport",head.viewport) }}
    {{ head_macro.base(base_url) }}
    {{ head_macro.favicon(favicons) -}}
    {{ include.includeLibraries() -}}   
    {{ include.includeTemplateFiles() -}}
    {{ include.includeComponentFiles() -}}
    {{ include.includePageFiles() }}
</head>