<div class="ui raised segment login-form">
  <h2 class="ui teal header">{{ title }}</h2>
  <div class="ui horizontal divider"></div>  
  <form class="ui form" id="login_form" method="post">
    <div class="field">
      <label>{{ user_name.label }}</label>
      <div class="ui left icon input">
        <i class="icon user"></i>
        <input type="text" name="user_name" id="user_name" {{ user_name.placeholder|attr("placeholder") }}>    
      </div>
    </div>
    <div class="field">
        <label>{{ password.label }}</label>
        <div class="ui left icon input">
          <i class="icon lock"></i>
          <input type="password" name="password" id="password" {{ password.placeholder|attr("placeholder") }}>    
        </div>
    </div>
    <div class="ui horizontal divider"></div> 
    <button class="ui fluid large primary button login-button">{{ login_button.title }}</button>    
    <div class="ui error message mini form-errors"></div>
  </form>
</div>
<div>
{% for link in links %}
  <a href="{{ link.href }}">{{ link.content }}</a>
{% endfor %}   
</div>