{% set options = createModel(model,extension).getOptions(id) %}
<form class="ui form" id="options_form">   
    <input type="hidden" value="{{ extension }}" name="extension">
    <input type="hidden" value="{{ model }}" name="model">
    <input type="hidden" value="{{ id }}" name="id">
    {% for option in options %}            
        {% if option.type.type == option.type.TEXT() %}
            {{ component('system:admin.orm.options.form.fields.text',{ option: option }) }}
        {% elseif option.type.type == option.type.CHECKBOX() %}
            {{ component('system:admin.orm.options.form.fields.checkbox',{ option: option }) }}
        {% elseif option.type.type == option.type.DROPDOWN() %}      
            {{ component('system:admin.orm.options.form.fields.dropdown',{ option: option }) }}
        {% elseif option.type.type == option.type.PRICE() %}      
            {{ component('system:admin.orm.options.form.fields.price',{ option: option }) }}       
        {% elseif option.type.type == option.type.TEXTAREA() %}      
            {{ component('system:admin.orm.options.form.fields.textarea',{ option: option }) }}
        {% endif %}
    {% endfor %}
    {{ component('components:form.footer') }}
</form>