<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">               
                <div class="ui inverted link list">      
                    <a href="http://arikaim.com" class="item" target="arikaim">
                        <i class="icon home"></i> 
                        {{ links.home }}
                    </a>        
                </div>
            </div>
            <div class="three wide column">               
                <div class="ui inverted link list">      
                    <a href="http://arikaim.com/license.html" class="item" target="arikaim">
                        <i class="icon copyright"></i> 
                        {{ links.license }}
                    </a>        
                </div>
            </div>
            <div class="three wide column">               
                <div class="ui inverted link list">
                    <a href="http://store.arikaim.com" class="item" target="arikaim">
                        <i class="icon shopping basket"></i>
                        {{ links.store }}
                    </a>              
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted link list">                   
                    <a href="http://documentation.arikaim.com/" class="item" target="arikaim">
                        <i class="icon info circle"></i>
                        {{ links.doc }}
                    </a>                   
                </div>
            </div>
            <div class="three wide column">   
                <div class="ui inverted link list">                
                    <a href="http://arikaim.com/news.html" class="item" target="arikaim">
                        <i class="icon newspaper outline"></i> 
                        {{ links.news }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>