<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">{{ columns.about.header }}</h4>
                <div class="ui inverted link list">
                    {% for link in columns.about.links %}
                    <a href="{{ link.href }}" class="item">{{ link.content }}</a>
                    {% endfor %}                                       
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">{{ columns.services.header }}</h4>
                <div class="ui inverted link list">
                    {% for link in columns.services.links %}
                    <a href="{{ link.href }}" class="item">{{ link.content }}</a>
                    {% endfor %} 
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">{{ title }}</h4>
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
</div>