{% if template is empty %}
    {% set template = package('template').getPackageProperties(template_name,false) %}
{% endif %}
{% set show_requires = show_requires|default(false) %}
{% set show_buttons = show_buttons|default(true) %}

<div class="ui card raised {{ class }} " id="{{ template_name }}">    
    <div class="content">  
        <h4 class="header divider">
            {% if template.name == current_template_name %}
            <div class="ui left corner olive mini label current-template" title="{{ labels.current }}" >
                <i class="icon checkmark"></i>
            </div>     
            {% endif %} 
            {% if template.name == system_template_name %}
                <div class="ui left ribbon blue mini label">{{ labels.system }}</div>                
            {% endif %}
            <span class="ml-1">{{ template.title }}</span>
            <div class="ui horizontal basic right floated mini label">               
                {{ labels.version }} 
                <div class="detail">{{ template.version }}</div>
            </div>    
        </h4>      
    </div>
    <div class="content">      
        {{ component('system:admin.templates.template.image',{ src: template.image.src }) }}                            
    </div>                   
    <div class="extra content">&nbsp;
        {{ template.description }}
    </div>
    <div class="p-2">
        <div class="ui success mini message opacity-0 m-2" id="message_{{ template.name }}"></div>
    </div> 
    {% if show_requires == true %}
    <div class="content">
        {{ component('system:admin.templates.template.requires',{ items: template.requires.library }) }}               
    </div> 
    {% endif %}
    {% if show_buttons == true %}
    <div class="extra content">
        <div class="ui mini fluid buttons">                              
            {% if template.name != system_template_name %}
                {% set hide_current = (template.name != current_template_name) ? 'olive' : 'disabled grey' %}  
                <button class="ui button basic set-current-button {{ hide_current }}" template="{{ template.name }}">{{ buttons.current.content }}</button>             
                <button class="ui button basic update-button" template="{{ template.name }}">{{ buttons.update.content }}</button>
            {% endif %}    
            <button class="ui button basic details-button" template="{{ template.name }}">{{ buttons.details.content }}</button>
        </div>
    </div>
    {% endif %}
</div>      