{% set  template = executeMethod("View\\TemplatesManager","getTemlateDetails",template_name) %}
<div class="ui card margin-left-1" id="{{ template_name }}">    
    <div class="content">  
        <h2 class="header">
            {% if template.current_template == template_name %}
            <div class="ui left corner olive mini label" title="{{ text.current }}">
                <i class="icon checkmark"></i>
            </div>     
            {% endif %} 
            {% if template_name == system_template_name %}
                <div class="ui left ribbon blue label">{{ text.system }}</div>                
            {% endif %}
            <span class="margin-left-2">{{ template.title }}
                <div class="right floated meta">
                    <div class="ui horizontal label">               
                        {{ text.version }} <span class="bold">{{ template.version }}</span>
                    </div>
                </div>
            </span>
        </h2>
        <div class="image">
            {% if template.image.src == "" %}
                <img class="ui image fluid rounded opacity-2" src="{{ system_template_url }}/images/placeholder.png">
            {% endif %}                
        </div>                          
    </div>
    <div class="extra content">
        {{ text.requires }}
        {% for item in template.requires.lib %}
        <div class="ui label">{{ item.name }}</div> 
        {% endfor %}
    </div>
    <div class="extra content">
       {{ component("system:admin/templates/template.details",{template_name: template_name}) }}
    </div>
    <div class="extra content">
        <div class="ui fluid buttons">   
            {% if template.current_template != template_name and template_name != system_template_name %}        
            <button class="ui button olive set-current-button" template="{{ template.name }}">{{ text.buttons.set_current.content }}</button>
            {% else %}
            <button class="ui button basic grey set-current-button disabled">{{ text.buttons.set_current.content }}</button>
            {% endif %}             
        </div>
    </div>
</div>      