{% set template = executeMethod("View\\TemplatesManager","getTemlateDetails",template_name) %}
<div class="ui card margin-left-1" id="{{ template_name }}">    
    <div class="content">  
        <h2 class="header">
            {% if template_name == current_template_name %}
            <div class="ui left corner olive mini label" title="{{ labels.current }}">
                <i class="icon checkmark"></i>
            </div>     
            {% endif %} 
            {% if template_name == system_template_name %}
                <div class="ui left ribbon blue label">{{ labels.system }}</div>                
            {% endif %}
            <span class="margin-left-2">{{ template.title }}
                <div class="right floated meta">
                    <div class="ui horizontal label">               
                        {{ labels.version }} <span class="bold">{{ template.version }}</span>
                    </div>
                </div>
            </span>
        </h2>
        <div class="image">          
        {% if template.image.src == '' %}       
            <div class="ui image fluid rounded">  
                <img class=" opacity-2" src="{{ system_template_url }}/images/placeholder.png">                     
            </div>  
        {% else %}
            <img class="ui image fluid rounded opacity-2" src="{{ system_template_url }}/images/{{ template.image.src }}">                 
        {% endif %}                    
        </div>                          
    </div>
    {% if template.description != "" %}
    <div class="extra content">
        {{ template.description }}
    </div>
    {% endif %}
    <div class="extra content">
        <div class="ui fluid buttons">   
            {% if template.name != current_template_name and template.name != system_template_name %}        
            <button class="ui button olive set-current-button" template="{{ template.name }}">{{ buttons.current.content }}</button>
            {% else %}
            <button class="ui button basic grey set-current-button disabled">{{ buttons.current.content }}</button>
            {% endif %}    
            <button class="ui button basic grey details-button" template="{{ template.name }}">{{ buttons.details.content }}</button>
        </div>
    </div>
</div>      