<div class="ui tiny modal" id="confirm_dialog">
    <div class="header">
        <i class="modal-icon icon small circular inverted question {{ dialogs.confirm.icon }}"></i>
        <span class="modal-title">{{ dialogs.confirm.title }}</span>
    </div>
    <div class="content modal-description" id="confirm_dialog_content">
    {{ dialogs.confirm.description }}
    </div>
    <div class="actions">
        <button class="ui cancel button {{ buttons.cancel.class }}">{{ buttons.cancel.content }}</button>
        <button class="ui approve button {{ buttons.confirm.class }}">{{ buttons.confirm.content }}</button>
    </div>
</div>
<div class="ui tiny modal" id="delete_dialog">
    <div class="header">
        <i class="icon exclamation triangle {{ dialogs.delete.icon }}"></i>
        <span class="modal-title">{{ dialogs.delete.title }}</span>
    </div>
    <div class="content modal-description" id="delete_dialog_content">
    {{ dialogs.delete.description }}
    </div>
    <div class="actions">
        <button id="cancel_button" class="ui cancel button {{ buttons.cancel.class }}">{{ buttons.cancel.content }}</button>
        <button id="confirm_button" class="ui approve button {{ buttons.delete.class }}">{{ buttons.delete.content }}</button>
    </div>
</div>
<div class="ui tiny modal" id="alert_dialog">
    <div class="header">
        <i class="icon modal-icon exclamation triangle {{ dialogs.alert.icon }}"></i>
        <span class="modal-title">{{ dialogs.alert.title }}</span>
    </div>
    <div class="content modal-description" id="alert_dialog_content">
    {{ dialogs.alert.description }}
    </div>
    <div class="actions">
        <button id="confirm_button" class="ui approve button {{ buttons.alert.class }}">{{ buttons.alert.content }}</button>
    </div>
</div>