<div class="ui segment">
    <div class="ui stackable grid">
        <div class='ten wide column'>
            <button 
                mountTo="details_content"
                component="blog::admin.posts.add"
                title="{{ tooltip.create }}"
                class="ui mini curcular green icon button create-blog-post">
                <i class="icon plus"></i>
            </button>
        </div>
        <div class="six wide column right aligned">       
            {{ component('semantic~paginator.dropdown',{ class: 'mini', namespace: 'currency' }) }}
        </div>
    </div>
</div>
<div class="ui segment">
    <table class="ui compact stackable borderless basic table">
        <thead>
            <tr class="table-head">                          
                <th class="three wide">{{ columns.action }}</th>
                <th class="two wide">{{ columns.date }}</th>
                <th class="four wide">{{ columns.status }}</th>
                <th class="">{{ columns.title }}</th>                         
            </tr>
        </thead>
        <tbody id="view_items">
            {{ component('blog::admin.posts.view.rows',{ }) }}   
        </tbody>  
    </table>
    <div class="my-2" id="paginator">
        {{  component('semantic~paginator.admin',{ 
                id: 'blog_post_paginator',
                rows_selector: 'view_items',
                component: 'blog::admin.posts.view.rows',
                namespace: 'posts' 
            }) 
        }}
    </div>
</div>