@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oxygen:300,400');
.dark-background {
  background-color: #333 !important;
}
.shadow {
  -webkit-box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
  -o-box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
}
.admin-menu-shadow {
  -webkit-box-shadow: 5px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 5px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 5px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
  -o-box-shadow: 5px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
}
.icon-shadow {
  background-color: rgba(37, 36, 36, 0.5) !important;
  -webkit-box-shadow: 0px 0px 4px 3px rgba(37, 36, 36, 0.5) !important;
  -moz-box-shadow: 0px 0px 4px 3px rgba(37, 36, 36, 0.5) !important;
  box-shadow: 0px 0px 4px 3px rgba(37, 36, 36, 0.5) !important;
  border-radius: 100px;
}
.hide-menu-button {
  position: relative;
  left: -38px;
  top: 50%;
}
.login-form {
  min-height: 360px;
}
.slider.olive {
  color: green!important;
}
.sortable-state-highlight {
  opacity: 0.5;
}
.hidden {
  visibility: hidden!important;
}
.small.text {
  font-size: 1rem !important;
}
.form-errors {
  color: #ad2424 !important;
}
.sub-title {
  text-transform: none;
  font-size: 26px;
}
.page-title {
  font-family: 'Open Sans Condensed';
  color: #c5c2c2;
  font-size: 40px;
  font-style: 300;
  margin-left: 5px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #474646;
}
html {
  height: 100%;
}
body {
  font-family: 'Oxygen' !important;
  height: 100%;
}
.footer .link:hover {
  text-decoration: underline;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0.3em;
  text-align: center;
}
.full-height {
  height: 100%;
}
.full-min-height {
  min-height: 100%;
}
.bold {
  font-weight: bold;
}
.ui.vertical.menu .item > i.icon.left {
  float: none;
  margin: 0em 0.35714286em 0em 0em;
}
.text-uppercase {
  text-transform: uppercase;
}
.padding-top-1 {
  padding-top: 1em;
}
.title {
  text-shadow: none!important;
}
.padding-1 {
  padding: 1em 1em 1em 1em;
}
.padding-left-1 {
  padding-left: 1em;
}
.padding-right-1 {
  padding-right: 1em;
}
.padding-top-0 {
  padding-left: 0px!important;
}
.padding-top-5 {
  padding-left: 5em!important;
}
.margin-left-1 {
  margin-left: 1em;
}
.margin-left-2 {
  margin-left: 2em;
}
.margin-left-3 {
  margin-left: 3em;
}
.margin-right-1 {
  margin-left: 1em;
}
.margin-right-2 {
  margin-right: 2em;
}
.margin-right-3 {
  margin-right: 3em!important;
}
.margin-top-0 {
  margin-top: 0px!important;
}
.margin-top-1 {
  margin-top: 1em !important;
}
.margin-top-2 {
  margin-top: 2em !important;
}
.margin-top-3 {
  margin-top: 3em !important;
}
.margin-top-4 {
  margin-top: 4em!important;
}
.margin-top-5 {
  margin-top: 5em!important;
}
.margin-top-6 {
  margin-top: 6em!important;
}
.margin-top-7 {
  margin-top: 8em!important;
}
.margin-bottom-2 {
  margin-bottom: 2em;
}
.page-loader {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.white {
  color: #c5c2c2 !important;
}
.backgorund .dark {
  background-color: #474646 !important;
}
.opacity-5 {
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}
.opacity-2 {
  opacity: 0.2;
  filter: alpha(opacity=20);
  /* For IE8 and earlier */
}
