{% set items = getOption('date.format.items') %}
{% set id = id|default('date_format') %}
{% set default = default|default(default.text) %}

<div class="ui basic button dropdown {{ class }}" id="date_format">   
    <i class="icon calendar"></i>
    <i class="icon dropdown"></i>   
    {% if selected == "" %}      
        <div class="text">{{ default }}</div>
    {% else %}
        <div class="text">{{ "now"|date(selected) }}</div>
    {% endif %}   
    <div class="menu">   
    {% for key, item in items %}
        <div class="item {{ item.value|ifthen(selected,'active') }}" data-value="{{ item }}">
            {{ "now"|date(item) }}
            <div class="description">               
                {{ key }}                       
            </div>
        </div>      
    {% endfor %}
    </div>
</div>