<div class="ui grid full-height">    
    <div class=" visible two wide column margin-top-5 dark-background admin-menu-shadow" id="admin_menu">
    </div>
    <div class="ui column fourteen wide segment margin-top-5"> 
        <!--<i class="link hide-menu-button large inverted icon gray circular chevron left"></i>-->          
        <div class="ui horizontal divider header">
            <i class="" id="tool_icon"></i><div class="content" id="tool_title"></div>
        </div>
        <div class="padded padding-1" id="tool_content"></div>        
    </div>
</div>