<div class="title">
    <div class="item bold">
        <i class="dropdown icon" title="{{ labels.details }}"></i>
        {% if event.status == 1 %}
        <i class="icon checkmark olive" title="{{ labels.active }}"></i>
        {% endif %}
        <i class="calendar outline icon"></i>
        {{ event.name }} 
    </div>
</div>
<div class="content">
    <div class="margin-left-2">
        <span class="text small-text">{{ event.title }}</span>
        <div class="text small-text">
            {{ event.description }}
        </div>
        <div class="ui label small basic margin-top-1">
        {% if event.extension_name != "" %}
            {{ labels.extension }}
            <div class="detail">
                <i class="icon puzzle"></i>
                {{ event.extension_name }}
            </div>
        {% else %}
        {{ labels.core }}
        <div class="detail">
            <i class="icon settings"></i>                
        </div>
        {% endif %}
        </div>
        <div class="ui segment">
            <h5 class="ui header">
                {{ labels.subscribers }}
            </h5>
            {% set subscribers = loadData("EventSubscribers","name='" ~ event.name ~ "'") %}  
            <div class="ui list">               
                {% for subscriber in subscribers %}
                    {{ component("system:admin.system.events.event.subscriber",{subscriber: subscriber}) }}
                {% endfor %}
                {% if subscribers is empty %}
                <div class="item">..</div>
                {% endif %}
            </div>            
        </div>
    </div>
</div>