@tabel_head_bg: #EEF2FF;
@table_head_border: #C7D2FE;
@small: 1rem;

@import url('https://fonts.googleapis.com/css?family=Monoton');

html {
    height: 100%;
    padding: 0px;
}
body { 
    min-height: 100%;
    padding: 0px;
    margin: 0px; 
    height: 100%;
    background-color: #F9FAFB!important;
}
.tabular .menu {
    margin: 0px 0px 0px 0px!important;
}
.tab-content {
    margin-top: 0px!important;
    padding-top: 0px!important;
}
.column-title {
    font-weight: bold!important;
    text-transform: uppercase!important;
}
.page {
    padding: 0px;
    margin: 0px;        
}
.content-inside {
    padding: 0px;
    width: 100%;
    padding-bottom: 350px;
}
.page-content {  
    padding: 0px;
    min-height: 100%;
    border-bottom:1px solid white;
    margin: 0 auto -137px;
}
.table-head {
    font-weight: bold!important;
}

.menu-item-title {
   font-size: 12pt!important;
}
.menu-item-title:hover {
    cursor: pointer;    
}
.admin-menu-link:hover {
    background-color:#1c314e!important;
}
.borderless {
    border: none!important;
}
div.inner {
    height:inherit;
}
#left_space {
    padding: 0px 0px 0px 0px!important;
    margin-left:0;
}
.shadow {          
    -webkit-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75)!important;
    -moz-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75)!important;
    box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75)!important;
    -o-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75)!important;
}
.dark-color {
    background-color: #2d3748!important;
}
.hide-menu-button {
    position:relative;
    left:-38px;
    top:50%;
}
.page-loader {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sortable-state-highlight {
    opacity: 0.5;
}
.page-title {
    font-family: 'Monoton'!important;
    font-weight: 200!important;
    font-size: 23px!important;
}
.ui.footer.segment {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    border:1px solid red;
}
.ui.vertical.menu .item > i.icon.left {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}
.ui.menu .item.active {
    background-color: #F3F4F6!important;
}
.ui.vertical.menu .item.active {
    background-color: #EEF2FF!important;
}
.extension-repository-menu {
    border:1px solid red!important;
}
.admin-menu-link.active {
    background-color: #2a4365!important;
}

.w-74 {
    width: 30rem;
}
.w-96 {
    width: 24rem;
}
.w-panel {
    width: 34rem;
}
.mt-28{
    margin-top: 7rem;
}
.rounded-b-full {
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
}