{% set search = getSearch(namespace) %}
<form class="ui form" id="search_form">
    <div class="ui fluid right action left icon input" id="search_input">
        <i class="search icon"></i>
        <input placeholder="{{ placeholder }}" class="search-field" type="text" name="search_text" id="search_text" value="{{ search.search_text }}">               
        <div class="ui basic buttons">
            <button class="ui basic button" id="search_button">{{ labels.search }}</button>
            <div class="ui floating top right pointing dropdown icon button search-actions">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item clear-form">
                        <i class="remove icon"></i>
                        {{ labels.clear }}
                    </div>                          
                </div>
            </div>           
        </div>
    </div>
    {{ fields }}
</form>