{% import systemMacro("labels.html") as macros %}
{% set worker = service('jobs','getServiceDetails') %}
<h4 class="header">
    <i class="icon server"></i>
    {{ labels.worker }}
</h4>
{{ macros.getStatusIcon(worker.installed) }}
{{ worker.name }}
<div class="list margin-left-2" id="worker_jobs">
    {% for job in worker.jobs %}
    <div class="item">
        <i class="icon terminal"></i>
        {{ job }}
    </div>
    {% endfor %}
    <div class="item">
        <div class="ui buttons basic icon mini margin-left-2">
            {% if worker.jobs|length > 0 %}
            <button class="ui button" id="worker_delete_jobs">
                <i class="icon trash orange"></i>
            </button>
            {% endif %}
            <button class="ui button" id="worker_update_jobs">
                <i class="icon refresh"></i>
            </button>
        </div>
    </div>    
</div>
<h4 class="header">
    <i class="icon repeat"></i>
    {{ labels.recuring }}
</h4>
{% set recuring_jobs = condition('recuring_interval','<>','') %}
{{ component('system:admin.system.jobs.list',{ filter: [recuring_jobs] }) }}
<h4 class="header">
    <i class="icon wait"></i>
    {{ labels.scheduled }}
</h4>
{% set schedule_jobs = condition('schedule_time','>','0') %}
{{ component('system:admin.system.jobs.list',{ filter: [schedule_jobs] }) }}
<h4 class="header">
    <i class="icon settings"></i>
    {{ labels.jobs }}
</h4>
{% set jobs_filter = condition('recuring_interval','=','') %}
{% set jobs_filter = condition('schedule_time','=','0',jobs_filter) %}
{{ component('system:admin.system.jobs.list',{ filter: [jobs_filter] }) }}