{% set current_year = currentYear() %}
{% set text_class = text_class|default('text-gray-500') %}
{% set company = company|default(labels.default) %}
<i class="icon copyright {{ icon_class }}"></i>
{% if hide_label != true %}
<span class="{{ text_class }}">{{ labels.label }}</span>
{% endif %}
<span class="{{ text_class }}">
{% if from_year is not empty and from_year < current_year %}
{{ from_year }} -
{% endif %}
{{ current_year }}
</span>
<span class="ml-2 {{ text_class }}">
{% if url is not empty %}
    <a href="{{ url }}">{{ company }}</a>
{% else %}
    {{ company }}
{% endif %}
</span>