{# Favicon meta tag #}
{%- macro favicon(icons) -%}
{% if icons.href is defined %}
<link rel="icon" type="image/png" href="{{ template_url }}/images/{{ icons.href }}">
{% endif %}
{% if icons.micro is defined -%}
<link rel="icon" type="image/png" sizes="16x16" href="{{ template_url }}/images/{{ icons.micro.src }}">
{%- endif -%}
{%- if icons.mini is defined -%}
<link rel="icon" type="image/png" sizes="32x32" href="{{ template_url }}/images/{{ icons.mini.src }}">
{%- endif %}
{%- if icons.small is defined -%}
<link rel="icon" type="image/png" sizes="96x96" href="{{ template_url }}/images/{{ icons.small.src }}">
{%- endif -%}
{%- endmacro favicon -%}

{# Viewport meta tag #}
{% macro viewport(name, initial, minimum, maximum) -%}
<meta name="viewport" content="width=device-width, initial-scale={{ initial|default("1.0") }}, minimum-scale={{ minimum|default("1.0") }}, maximum-scale={{ maximum|default("1.0") }}"/>
{%- endmacro viewport -%}

{# Include template files #}
{%- macro includeTemplateFiles() -%}
{%- set files = getTemplateFiles() %}
{%- set theme = getThemeFiles() %}
{%- if theme %} 
    <!-- theme files -->
    {% for file in theme %}
        <link rel="stylesheet" type="text/css" href="{{ file }}"> 
    {% endfor -%}    
{% endif %}
{%- if files.js or files.css %}
    <!-- template files -->
    {% for file in files.js -%}
        <script src="{{ file }}" type="text/javascript"></script>
    {% endfor %}
    {% for file in files.css %}
        <link rel="stylesheet" type="text/css" href="{{ file }}">      
    {% endfor %}
{% endif -%}
{% endmacro includeTemplateFiles -%}

{# Include component files #}
{%- macro includeComponentFiles() -%}
{% set files = getComponentsFiles() %}
    <!-- component files -->
    {% for file in files.js -%}            
        {% set async = ('async' in file.params) ? 'async' : '' -%}
        {% set crossorigin = ('crossorigin' in file.params) ? 'crossorigin="anonymous"' : '' -%}
        <script src="{{ file.url }}" type="text/javascript" {{ async }} {{ crossorigin }}></script>
    {% endfor -%}
    {% for file in files.css -%}
        <link rel="stylesheet" type="text/css" href="{{ file.url }}">
    {% endfor -%}
{% endmacro includeComponentFiles %}

{# Include page files #}
{%- macro includePageFiles() -%}  
    {%- set files = getPageFiles() -%}
    <!-- page files -->
    {%- for file in files.js %}        
        <script src="{{ file.url }}" type="text/javascript"></script>
    {%- endfor %}
    {%- for file in files.css %}
        <link rel="stylesheet" type="text/css" href="{{ file.url }}">      
    {%- endfor -%}
{%- endmacro includePageFiles -%}

{# Include library files #}
{%- macro includeLibraries() -%}
{%- set files = getLibraryFiles() -%}
<!-- library files -->
{%- for file in files -%} 
    {% if file.params is iterable %}
        {% set params_attributes = '' %}
        {% for name,value in file.params %}
            {% set params_attributes = params_attributes ~ name ~ '="' ~ value ~ '"' %}
        {% endfor %}
    {% endif %}      
    {%- set async = (file.async == true) ? ' async' : '' -%}  
    {%- if file.type == "js" %} 
        <script id="library_{{ file.library }}" type="text/javascript" src="{{ file.file -}}" {{ params_attributes|raw -}} {{- async }} {{ file.crossorigin|attr('crossorigin') -}}></script>
    {%- endif %}
    {%- if file.type == "css" %} 
        <link rel="stylesheet" type="text/css" href="{{ file.file }}">
    {%- endif -%}
{%- endfor %}
{%- endmacro includeLibraries -%}