
{%- macro item(tag_name,content,attributes) %}
{%  set new_class = "item " ~ attributes.class %}
{%  set item_class = {"class":new_class} %}
{%  if attributes is iterable %}
{%  set attributes = attributes|merge(item_class) %}
{%  endif %}
{{  content|tag(tag_name,attributes) }}
{%  endmacro item %}

{%- macro menuItems(items) %}
{%  import _self as menu %}
{%  for item in items %}
{{  menu.item("a",item.content,item) -}}    
{%  endfor %}
{%- endmacro menuItems -%}

{%- macro menu(items,attributes) %}
{%  import _self as menu %}
{{  attributes }}
{%- endmacro menu -%}

{%- macro adminMenuItem(component,extension_name,title,icon,class,sub_title) %}
{%  import "/macros/labels.html" as labels %}
<div class="item link {{ class }}" component="{{ component }}" {{ extension_name|attr('extension') }} >  
    <i class="left icon large blue menu-item-icon {{ icon }}"></i>
    <span class="header menu-item-title">{{ title }}</span>     
</div>
{%- endmacro adminMenuItem -%}