{%- macro numberFormatDropdown(selected,attributes) %}
{% set items = getOption('number.format.items') %}
{% set example_number = 100000.254 %}
<div class="ui mini search selection dropdown {{ attributes.class }}" id="number_format">   
    <i class="icon table"></i>
    <i class="icon dropdown"></i>   
    {% if selected == "" %}      
    <div class="default text">{{ attributes.placeholder }}</div>
    {% else %}
    <div class="text">{{ example_number|numberFormat(selected) }}  ({{ selected }})</div>
    {% endif %}   
    <div class="menu">   
    {% for item in items %}
        <div class="item {{ item.name|ifthen(selected,'active') }}" data-value="{{ item.name }}">{{ example_number|numberFormat(item.name) }}  ({{ item.name }})</div>      
    {% endfor %}
    </div>
</div>
{%  endmacro numberFormatDropdown -%}