{%- macro tag(name,properties) %}
{{  properties.content|tag(name,properties) -}}
{%  endmacro tag -%}

{%- macro singleTag(name,attributes) %}
{{  ""|singleTag(name,attributes) }}
{%  endmacro singleTag %}

{%- macro a(content,attributes) %}
{{  content|tag("a",attributes) }}
{%  endmacro a %}

{%- macro img(attributes) %}
{%  if attributes.src != "" %}
{{  "img"|singleTag(attributes) }}
{%  endif %}
{%- endmacro img -%}

{%- macro label(content,attributes) %}
{{  content|tag("label",attributes) }}
{%  endmacro label %}
