<div class="ui grid">
    <div class="seven wide column">
        <div class="ui segment">
            <div class="ui horizontal divider">             
                {{ title }}
            </div>
            {% if demo_mode != true %}
            <form class="ui equal width form mt-8" id="user_password_form">  
                <div class="field">
                    <label>{{ fields.password.label }}</label>
                    <div class="ui left icon input">
                        <i class="icon blue lock"></i>
                        <input rule="minLength[2]" type="password" name="password" id="password" {{ fields.password.placeholder|attr("placeholder") }} value="">    
                    </div>                       
                </div>
                <div class="ui fields">
                    <div class="field">
                        <label>{{ fields.new_password.label }}</label>
                        <div class="ui left icon input">
                            <i class="icon blue lock"></i>
                            <input rule="minLength[5]" type="password" name="new_password" id="new_password" {{ fields.new_password.placeholder|attr("placeholder") }} value="">    
                        </div>                       
                    </div>
                    <div class="field">
                        <label>{{ fields.repeat_password.label }}</label>
                        <div class="ui left icon input">
                            <i class="icon blue lock"></i>
                            <input rule="minLength[5]" type="password" name="repeat_password" id="repeat_password" {{ fields.repeat_password.placeholder|attr("placeholder") }} value="">    
                        </div>                       
                    </div>
                </div>
                {% if demo_mode == false %}
                    {{ component('semantic~form.footer') }}     
                {% endif %}            
            </form>
            {% else %}
            <div class="ui warning message">
                {{ labels.demo }}
            </div>
            {% endif %}
        </div>
    </div>
</div>