{% set paginator = getPaginator(namespace) %}
{% set page_links = page_links|default(4) %}
{% set from_page = paginator.current_page - page_links %}
{% set from_page = (from_page < 1) ? 1 : from_page  %}
{% set to_page = (from_page + page_links) %}
{% set to_page = (to_page > paginator.last_page) ? paginator.last_page : to_page %}
  
{% if paginator.last_page > 1 %}
    <div class="ui pagination menu {{ class }} paginator" from-page="{{ from_page }}" to-page="{{ to_page }}" last-page="{{ paginator.last_page }}">       
        <div class="item first-page page-link link {{ item_class }} {{ paginator.current_page|ifthen(1,'disabled') }}" page="1">
            <i class="ui icon angle double left"></i>
        </div>      
        <div class="item prev-page page-link link {{ item_class }} {{ paginator.current_page|ifthen(1,'disabled') }}" page="prev">
            <i class="ui icon angle left"></i>
        </div> 
        <span id="pages_list">
            {% for index in from_page..to_page %}
            <div class="item page-{{ index }} page-link link {{ item_class }} {{ index|ifthen(paginator.current_page,'active') }}" page="{{ index }}">
                {{ index }}     
            </div>
        </span>      
        {% endfor %}
        {% if paginator.last_page > page_links %}
        <div class="item next-page page-link link {{ item_class }}" page="next">
            <i class="ui icon angle right"></i>
        </div>
        <div class="item last-page page-link link {{ item_class }}" page="{{ paginator.last_page }}">
            <i class="ui icon angle double right"></i>
        </div>
        {% endif %}  
    </div>
{% endif %}