{% if uuid is not empty %}
    {% set image = createModel('Image','image').findById(uuid) %}
{% endif %}
<div class="ui grid">
    <div class="four wide column">    
        <div class="ui segment">
            <div class="content-center text-center w-full m-auto">           
                <img class="ui fluid image rounded" src="{{ url(image.src,true) }}">
            </div>
        </div>
        <div class="mt-2 center-align">  
            <div class="ui labels">               
            {% if image.private == true %}
                <div class="ui basic orange label">
                    {{ labels.protected }}
                </div>
            {% else %}
                <div class="ui basic green label">
                    {{ labels.public }}
                </div>
            {% endif %}
                <div class="ui basic fluid label">               
                    <i class="icon folder blue outline"></i>                
                    {{ image.storage_path }} {{ image.file_name }}
                </div>
            </div>  
        </div>      
    </div>
    <div class="twelve wide column">
        <div class="ui grid">
            <div class="six wide column column">
                <div class="ui segment">
                    <div class="ui mini header">
                        <i class="icon blue image"></i>
                        {{ labels.create }}
                    </div>
                    <div>                
                        {{ component('image::admin.thumbnails.create',{ uuid: image.uuid, class: 'fluid' }) }}                               
                    </div>    
                </div>                          
            </div>
            <div class="ten wide column" id="thumbnails_info">
            </div>
        </div>
        <div class="ui horizontal mini header divider left aligned">
            <i class="icon blue images"></i>
            {{ title }}
        </div>
        <div class="mt-8 w-full" id="image_thumbnails_content">
            {{ component('image::admin.thumbnails.view',{ image_id: image.id }) }}
        </div>
    </div>
</div>     