{% set providers = service('content').typeRegistry().getContentTypes(category) %}
<div class="ui dropdown content-type-dropdown {{ class|default('basic button selection') }}" 
    id="{{ id|default('content_type_dropdown') }}">
    <input 
        id="{{ name|default('content_type') }}" 
        name="{{ name|default('content_type') }}" 
        type="hidden" value="{{ selected }}">  
    <div class="text">
        {{ selected_title|default(labels.select) }}     
    </div>
    <i class="dropdown icon"></i>   
    <div class="ui menu">
        {% for key, item in providers %}                 
            <div class="item" data-value="{{ key }}">                        
                {{ item.title }}
            </div>              
        {% endfor %}           
    </div>
</div>