{% set items = service('logger').getHandlerNames() %}
{% set id = id|default('logger_type_dropdown') %}
{% set selected = getConfigOption('settings/loggerHandler') %}
<div class="ui button basic dropdown logger-type-dropdown {{ class }}" id="{{ id }}">
    {% if selected is not empty %}
        <div class="text">{{ handlers[selected] }}</div>  
    {% else %}
        <div class="default text">{{ labels.empty }}</div>  
    {% endif %}   
    <i class="dropdown icon"></i>  
    <div class="ui menu">       
        {% for item in items %}            
            <div class="item" data-value="{{ item }}">             
                {{ handlers[item] }}
            </div>   
        {% endfor %}           
    </div>  
</div>