.opacity-0 {
  opacity: 0
}

.opacity-5 {
  opacity: 0.05
}

.opacity-10 {
  opacity: 0.1
}

.opacity-20 {
  opacity: 0.2
}

.opacity-25 {
  opacity: 0.25
}

.opacity-30 {
  opacity: 0.3
}

.opacity-40 {
  opacity: 0.4
}

.opacity-50 {
  opacity: 0.5
}

.opacity-60 {
  opacity: 0.6
}

.opacity-70 {
  opacity: 0.7
}

.opacity-75 {
  opacity: 0.75
}

.opacity-80 {
  opacity: 0.8
}

.opacity-90 {
  opacity: 0.9
}

.opacity-95 {
  opacity: 0.95
}

.opacity-100 {
  opacity: 1
}

.hover\:opacity-0:hover {
  opacity: 0
}

.hover\:opacity-5:hover {
  opacity: 0.05
}

.hover\:opacity-10:hover {
  opacity: 0.1
}

.hover\:opacity-20:hover {
  opacity: 0.2
}

.hover\:opacity-25:hover {
  opacity: 0.25
}

.hover\:opacity-30:hover {
  opacity: 0.3
}

.hover\:opacity-40:hover {
  opacity: 0.4
}

.hover\:opacity-50:hover {
  opacity: 0.5
}

.hover\:opacity-60:hover {
  opacity: 0.6
}

.hover\:opacity-70:hover {
  opacity: 0.7
}

.hover\:opacity-75:hover {
  opacity: 0.75
}

.hover\:opacity-80:hover {
  opacity: 0.8
}

.hover\:opacity-90:hover {
  opacity: 0.9
}

.hover\:opacity-95:hover {
  opacity: 0.95
}

.hover\:opacity-100:hover {
  opacity: 1
}

.focus\:opacity-0:focus {
  opacity: 0
}

.focus\:opacity-5:focus {
  opacity: 0.05
}

.focus\:opacity-10:focus {
  opacity: 0.1
}

.focus\:opacity-20:focus {
  opacity: 0.2
}

.focus\:opacity-25:focus {
  opacity: 0.25
}

.focus\:opacity-30:focus {
  opacity: 0.3
}

.focus\:opacity-40:focus {
  opacity: 0.4
}

.focus\:opacity-50:focus {
  opacity: 0.5
}

.focus\:opacity-60:focus {
  opacity: 0.6
}

.focus\:opacity-70:focus {
  opacity: 0.7
}

.focus\:opacity-75:focus {
  opacity: 0.75
}

.focus\:opacity-80:focus {
  opacity: 0.8
}

.focus\:opacity-90:focus {
  opacity: 0.9
}

.focus\:opacity-95:focus {
  opacity: 0.95
}

.focus\:opacity-100:focus {
  opacity: 1
}

.bg-blend-normal {
  background-blend-mode: normal
}

.bg-blend-multiply {
  background-blend-mode: multiply
}

.bg-blend-screen {
  background-blend-mode: screen
}

.bg-blend-overlay {
  background-blend-mode: overlay
}

.bg-blend-darken {
  background-blend-mode: darken
}

.bg-blend-lighten {
  background-blend-mode: lighten
}

.bg-blend-color-dodge {
  background-blend-mode: color-dodge
}

.bg-blend-color-burn {
  background-blend-mode: color-burn
}

.bg-blend-hard-light {
  background-blend-mode: hard-light
}

.bg-blend-soft-light {
  background-blend-mode: soft-light
}

.bg-blend-difference {
  background-blend-mode: difference
}

.bg-blend-exclusion {
  background-blend-mode: exclusion
}

.bg-blend-hue {
  background-blend-mode: hue
}

.bg-blend-saturation {
  background-blend-mode: saturation
}

.bg-blend-color {
  background-blend-mode: color
}

.bg-blend-luminosity {
  background-blend-mode: luminosity
}

.hover\:bg-blend-normal:hover {
  background-blend-mode: normal
}

.hover\:bg-blend-multiply:hover {
  background-blend-mode: multiply
}

.hover\:bg-blend-screen:hover {
  background-blend-mode: screen
}

.hover\:bg-blend-overlay:hover {
  background-blend-mode: overlay
}

.hover\:bg-blend-darken:hover {
  background-blend-mode: darken
}

.hover\:bg-blend-lighten:hover {
  background-blend-mode: lighten
}

.hover\:bg-blend-color-dodge:hover {
  background-blend-mode: color-dodge
}

.hover\:bg-blend-color-burn:hover {
  background-blend-mode: color-burn
}

.hover\:bg-blend-hard-light:hover {
  background-blend-mode: hard-light
}

.hover\:bg-blend-soft-light:hover {
  background-blend-mode: soft-light
}

.hover\:bg-blend-difference:hover {
  background-blend-mode: difference
}

.hover\:bg-blend-exclusion:hover {
  background-blend-mode: exclusion
}

.hover\:bg-blend-hue:hover {
  background-blend-mode: hue
}

.hover\:bg-blend-saturation:hover {
  background-blend-mode: saturation
}

.hover\:bg-blend-color:hover {
  background-blend-mode: color
}

.hover\:bg-blend-luminosity:hover {
  background-blend-mode: luminosity
}

.focus\:bg-blend-normal:focus {
  background-blend-mode: normal
}

.focus\:bg-blend-multiply:focus {
  background-blend-mode: multiply
}

.focus\:bg-blend-screen:focus {
  background-blend-mode: screen
}

.focus\:bg-blend-overlay:focus {
  background-blend-mode: overlay
}

.focus\:bg-blend-darken:focus {
  background-blend-mode: darken
}

.focus\:bg-blend-lighten:focus {
  background-blend-mode: lighten
}

.focus\:bg-blend-color-dodge:focus {
  background-blend-mode: color-dodge
}

.focus\:bg-blend-color-burn:focus {
  background-blend-mode: color-burn
}

.focus\:bg-blend-hard-light:focus {
  background-blend-mode: hard-light
}

.focus\:bg-blend-soft-light:focus {
  background-blend-mode: soft-light
}

.focus\:bg-blend-difference:focus {
  background-blend-mode: difference
}

.focus\:bg-blend-exclusion:focus {
  background-blend-mode: exclusion
}

.focus\:bg-blend-hue:focus {
  background-blend-mode: hue
}

.focus\:bg-blend-saturation:focus {
  background-blend-mode: saturation
}

.focus\:bg-blend-color:focus {
  background-blend-mode: color
}

.focus\:bg-blend-luminosity:focus {
  background-blend-mode: luminosity
}

.mix-blend-normal {
  mix-blend-mode: normal
}

.mix-blend-multiply {
  mix-blend-mode: multiply
}

.mix-blend-screen {
  mix-blend-mode: screen
}

.mix-blend-overlay {
  mix-blend-mode: overlay
}

.mix-blend-darken {
  mix-blend-mode: darken
}

.mix-blend-lighten {
  mix-blend-mode: lighten
}

.mix-blend-color-dodge {
  mix-blend-mode: color-dodge
}

.mix-blend-color-burn {
  mix-blend-mode: color-burn
}

.mix-blend-hard-light {
  mix-blend-mode: hard-light
}

.mix-blend-soft-light {
  mix-blend-mode: soft-light
}

.mix-blend-difference {
  mix-blend-mode: difference
}

.mix-blend-exclusion {
  mix-blend-mode: exclusion
}

.mix-blend-hue {
  mix-blend-mode: hue
}

.mix-blend-saturation {
  mix-blend-mode: saturation
}

.mix-blend-color {
  mix-blend-mode: color
}

.mix-blend-luminosity {
  mix-blend-mode: luminosity
}

.hover\:mix-blend-normal:hover {
  mix-blend-mode: normal
}

.hover\:mix-blend-multiply:hover {
  mix-blend-mode: multiply
}

.hover\:mix-blend-screen:hover {
  mix-blend-mode: screen
}

.hover\:mix-blend-overlay:hover {
  mix-blend-mode: overlay
}

.hover\:mix-blend-darken:hover {
  mix-blend-mode: darken
}

.hover\:mix-blend-lighten:hover {
  mix-blend-mode: lighten
}

.hover\:mix-blend-color-dodge:hover {
  mix-blend-mode: color-dodge
}

.hover\:mix-blend-color-burn:hover {
  mix-blend-mode: color-burn
}

.hover\:mix-blend-hard-light:hover {
  mix-blend-mode: hard-light
}

.hover\:mix-blend-soft-light:hover {
  mix-blend-mode: soft-light
}

.hover\:mix-blend-difference:hover {
  mix-blend-mode: difference
}

.hover\:mix-blend-exclusion:hover {
  mix-blend-mode: exclusion
}

.hover\:mix-blend-hue:hover {
  mix-blend-mode: hue
}

.hover\:mix-blend-saturation:hover {
  mix-blend-mode: saturation
}

.hover\:mix-blend-color:hover {
  mix-blend-mode: color
}

.hover\:mix-blend-luminosity:hover {
  mix-blend-mode: luminosity
}

.focus\:mix-blend-normal:focus {
  mix-blend-mode: normal
}

.focus\:mix-blend-multiply:focus {
  mix-blend-mode: multiply
}

.focus\:mix-blend-screen:focus {
  mix-blend-mode: screen
}

.focus\:mix-blend-overlay:focus {
  mix-blend-mode: overlay
}

.focus\:mix-blend-darken:focus {
  mix-blend-mode: darken
}

.focus\:mix-blend-lighten:focus {
  mix-blend-mode: lighten
}

.focus\:mix-blend-color-dodge:focus {
  mix-blend-mode: color-dodge
}

.focus\:mix-blend-color-burn:focus {
  mix-blend-mode: color-burn
}

.focus\:mix-blend-hard-light:focus {
  mix-blend-mode: hard-light
}

.focus\:mix-blend-soft-light:focus {
  mix-blend-mode: soft-light
}

.focus\:mix-blend-difference:focus {
  mix-blend-mode: difference
}

.focus\:mix-blend-exclusion:focus {
  mix-blend-mode: exclusion
}

.focus\:mix-blend-hue:focus {
  mix-blend-mode: hue
}

.focus\:mix-blend-saturation:focus {
  mix-blend-mode: saturation
}

.focus\:mix-blend-color:focus {
  mix-blend-mode: color
}

.focus\:mix-blend-luminosity:focus {
  mix-blend-mode: luminosity
}

*, ::before, ::after {
  --tw-shadow: 0 0 #0000
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-none {
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-sm:hover {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow:hover {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-md:hover {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-xl:hover {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-2xl:hover {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-inner:hover {
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-none:hover {
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus\:shadow-sm:focus {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus\:shadow:focus {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus\:shadow-md:focus {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus\:shadow-lg:focus {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus\:shadow-xl:focus {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus\:shadow-2xl:focus {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus\:shadow-inner:focus {
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus\:shadow-none:focus {
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.content-none {
  content: none
}