{% set id = id|default('branch_dropdown') %}
{% set class = class|default('clearable top left pointing') %}
{% set model = createModel('Category','category') %}
{% set items = model.selectRaw('distinct branch as branch').get() %}
{% set label_choice = (label_choice is empty) ? labels.choose : label_choice %}
{% set selected_text = (selected is empty) ? label_choice : selected %}
<div class="ui dropdown {{ class }}" id="{{ id }}" title="{{ labels.branch }}">  
    <i class="code branch icon"></i>
    <div class="text">{{ selected_text }}</div>    
    <i class="dropdown icon"></i>
    <div class="menu"> 
        {% for item in items %}
        <div class="item" data-value="{{ item.branch }}">
            {% if item.branch is empty %}
                {{ labels.all }}
            {% else %}
                {{ item.branch }}
            {% endif %}
        </div>
        {% endfor %}
    </div>        
</div>