<div class="ui tiny modal" id="confirm_dialog">
    <div class="header">
        <i class="icon small circular inverted question {{ icon.class }}"></i>
        <span class="confirm-dialog-title">{{ title }}</span>
    </div>
    <div class="content confirm-dialog-description">
    {{ description }}
    </div>
    <div class="actions">
        <button class="ui cancel button {{ buttons.cancel.class }}">{{ buttons.cancel.content }}</button>
        <button class="ui approve button {{ buttons.confirm.class }}">{{ buttons.confirm.content }}</button>
    </div>
</div>