<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <style type="text/css">
        {{ loadLibraryFile('foundation-emails','foundation-emails.css') }}    
    </style>
    {% set component_css = loadComponentCssFile(email_component_name) %}
    {% if component_css is not empty %}
    <style type="text/css">
        {{ component_css }}
    </style>
    {% endif %}
    <body> 
    <table class="body">
        <tr>
            <td align="center" class="center" valign="top">