<div class="ui grid">
    <div class="two wide column">
        <div class="ui segment"> 
            <div 
                class="ui middle aligned divided relaxed list" 
                id="providers_rows" 
                component="content::admin.providers.view.items">
                {{ component('content::admin.providers.view.items') }}
            </div>      
        </div>     
    </div>
    <div 
        class="fourteen wide column" 
        id="provider_details">
    </div>
</div>
