
{% set content = createModel('Content','content').orderBy('id') %}
{% set items = paginate(content,'content') %}
{% set items = items.getItems() %}
{% if items|length == 0 %}
    <tr>
        <td colspan="5">...</td>
    </tr>
{% endif %}
{% for item in items %}
<tr id="{{ item.uuid }}">        
    <td>
        <button 
            title="{{ labels.details }}"
            mountTo="content_details"
            component="content::admin.content.details"
            class="ui icon mini compact basic button content-action" 
            params="uuid:{{ item.uuid }}">
            <i class="icon info"></i>
        </button>
        <button 
            title="{{ labels.edit }}"
            class="ui icon mini compact basic button edit-content" 
            uuid="{{ item.uuid }}">
            <i class="icon edit"></i>
        </button>
        <button 
            title="{{ labels.delete }}"
            class="ui icon basic mini compact button delete-content" 
            uuid="{{ item.uuid }}" 
            data-title="{{ item.title }}">
            <i class="icon trash orange"></i>
        </button>                     
    </td>
    <td>
        {{ component('semantic~status.dropdown',{ status: item.status, uuid: item.uuid, skip: [2,3,4,5,6] }) }} 
    </td>
    <td>
        {{ item.key }}
    </td>
    <td>
        {{ item.content_type }}
    </td>
    <td>
        {{ item.user.user_name_or_email|default('all') }}
    </td>            
</tr>
{% endfor %}