{% set user = service('access').getUser() %}
<div class="ui icon top right inline dropdown" id="user_menu_dropdown">
    <i class="icon olive circular user"></i>
    {% if user == null %}
        <a class="link {{ login.class }} text-white" href="{{ url() }}">{{ login.content }}</a> 
    {% else %}
    {{ user.user_name }}
    <div class="ui mini vertical menu">
        <div class="item" data-value="system:admin.settings">
            <i class="icon setting"></i>
            {{ items.settings.content }}
        </div>  
        <div class="item" data-value="system:admin.logout">
            <i class="icon sign out"></i>
            {{ items.logout.content }}            
        </div> 
    </div>
    {% endif %}
</div>