{% set show_icon = show_icon|default(false) %}
{% set show_close_icon = show_close_icon|default(false) %}
<div class="ui message {{ class|default('warning icon small') }}" {{ id|attr(id) }}>   
    {% if show_icon == true %}
        <i class="exclamation tiny icon"></i>
    {% endif %}
    {% if show_close_icon == true %}
        <i class="close icon"></i>
    {% endif %}
    <div class="content">
        {% if title is not empty %}
        <div class="header">{{ title }}</div>
        {% endif %}
        <p>{{ message }}</p>
        {{ content }}
    </div>
</div>