<div class="ui grid">
    <div class="one wide column">
        <div class="ui vertical fluid tabular poiting menu" id="templates_tab">           
            <a class="item template-tab active {{ buttons.view.class }}" {{ buttons.view.title|attr("title") }} component="system:admin.templates.view">
                <i class="icon grid layout"></i>
                {{ buttons.view.content }}   
            </a>                 
            <a id="details_button" class="item template-tab {{ buttons.details.class }}" {{ buttons.details.title|attr("title") }} component="system:admin.templates.template.details">
                <i class="icon edit"></i>
                {{ buttons.details.content }}   
            </a>
            <!--
            <a id="download_button" class="item extension-tab {{ buttons.download.class }}" {{ buttons.download.title|attr("title") }} component="system:admin.extensions.store">
                <i class="icon cloud download"></i>
                {{ buttons.download.content }}   
            </a>
            -->           
        </div>
    </div>
    <div class="fifteen wide stretched column">
        <div class="padding-1" id="tab_content">
            {{ component("system:admin/templates/view") }}
        </div>
    </div>
</div>