{% set current = getOption('captcha.current') %}
{% set params = { driver_name: current, category: 'captcha' } %}
{% set items = [ 
    { id: 'view_button', title: labels.view.content, component: 'captcha::admin.view', icon: 'grid layout', active: true },
    { id: 'settings_button', title: labels.settings.content, component: 'system:admin.modules.drivers.config', icon: 'cogs', params: params },
    { id: 'captcha_view_button', title: labels.preview.content, component: 'captcha::admin.preview', icon: 'code' }
] %}

{{  component('components:tabs',{ 
        items: items,
        menu: { component: 'system:admin.extensions.menu.actions', extension: 'captcha' },
        content: { component: 'captcha::admin.view' } 
    })
}}