<footer class="footer p-10 bg-neutral text-neutral-content">
    <div class="flex flex-row justify-items-stretch mx-auto container">
        <div class="flex flex-col flex-grow">
            <span class="footer-title">Site</span> 
            <a class="link link-hover" href="{{ url('') }}">
                Home
            </a>
        </div> 
        <div class="flex flex-col flex-grow">
            <span class="footer-title">Arikaim</span> 
            <a class="link link-hover" href="http://arikaim.com/documentation">
                Documentation
            </a>
            <a class="link link-hover" href="https://github.com/arikaim">
                GitHub
            </a>
        </div> 
        <div class="flex flex-col flex-grow place-content-end">
            <span class="footer-title">Legal</span> 
            <a class="link link-hover" href="http://arikaim.com/license">
                License
            </a>
        </div>
    </div>
</footer>