<div class="ui center aligned footer w-full absolute bottom-0 p-6 bg-gray-200 {{ class }} shadow">
    <div class="ui container stackable grid">      
        <div class="p-4">
            <div class="ui horizontal list"> 
                <div class="item">                         
                    <a href="{{ url('/',true) }}">
                        <i class="icon home"></i>                    
                        {{ links.home }}
                    </a>
                </div>     
                <div class="item"> 
                    {{ labels.powered }}     
                    <a href="http://arikaim.com" class="item white" target="arikaim">                    
                        {{ links.arikaim }}
                    </a>
                </div>
            </div>
        </div>          
    </div>
</div>