<div class="ui fluid raised card mt-4">
    <div class="content">
        <h3 class="ui dividing header">
        {{ title }}
        </h3>
        <form class="ui form" id="password_recovery_form" method="post">
            <div class="field">
                <label>{{ email.label }}</label>
                <div class="ui left icon input">
                    <i class="icon envelope outline"></i>
                    <input type="text" name="email" id="email" {{ user_name.placeholder|attr("placeholder") }}>    
                </div>
            </div>                      
            <button class="ui fluid large primary button" id="revovery_button">{{ buttons.submit }}</button>            
            <div class="ui no-border pt-0 pb-0 error message mini errors"></div>
        </form>
        <div class="ui message olive hidden" id="message"></div>           
    </div>
    <button class="ui bottom fluid large primary hidden button open-login-page" id="login_page_button">{{ buttons.login_page }}</button>
</div>
<div class="ui horizontal list">                          
    <div class="item">
        <a id="login_page_link" class="text open-login-page">
            <i class="user outline icon"></i>
            {{ links.login }}
        </a>
    </div>                
</div>    