{% set providers = service('content').getProviders(category,type) %}
<div class="ui dropdown content-provider-dropdown {{ class|default('basic button selection') }}" 
    id="{{ id|default('content_provider_dropdown') }}">
    <input name="{{ name|default('content_provider') }}" type="hidden" value="{{ selected }}">  
    <div class="text">
        {{ selected_title|default(labels.select) }}     
    </div>
    <i class="dropdown icon"></i>   
    <div class="ui menu">
        {% for key, item in providers %}                
            <div class="item" data-value="{{ key }}">                        
                {{ item.title }}
            </div>              
        {% endfor %}           
    </div>
</div>