{% set search_value = executeMethod('Db\\Search','getCurrentSearch') %}
<div class="ui three column centered grid">
    <div class="column center aligned">
        <div class="ui fluid right action left icon input">
            <i class="search icon"></i>
            <input placeholder="{{ placeholder }}" type="text" name="search_text" id="search_text" value="{{ search_value.value }}">
            {% if search.fields is defined %}
            <div class="ui compact icon dropdown search-fields">
                <div class="menu">
                    <div class="item" data-value="{{ search.fields.name }}">{{ search.fields.name }}</div>  
                </div>                              
            </div>
            {% endif %}
            <div class="ui basic buttons">
                <button class="ui basic button" id="search_button" component="{{ search.component }}" search-result="{{ search.result_element }}">{{ labels.search }}</button>
                <div class="ui floating top right pointing dropdown icon button search-actions">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item clear-input"><i class="remove icon"></i>Clear</div>                          
                    </div>
                </div>           
            </div>
        </div>
    </div>                
</div>    