
{% import systemMacro("date.html") as date %}
{% set jobs = service('jobs','getJobs',filter) %}
{% for job in jobs %}
{% set interval = timeInterval(job.recuring_interval) %}
<div class="ui accordion jobs-list margin-left-1">
    <div class="title">
        <i class="dropdown icon"></i>
        {% if job.status == 1 %}
            <i class="icon checkmark olive" title="{{ labels.active }}"></i>
        {% else %}
            <i class="icon remove orange" title="{{ labels.disabled }}"></i>
        {% endif %}
        {{ job.name }}
        {% if job.schedule_time > 0 %}
            {{ job.schedule_time|dateFormat }} {{ job.schedule_time|timeFormat }}
        {% else %}
            {{ date.getIntervalText(interval,labels.interval) }}
        {% endif %}
    </div>
    <div class="content margin-left-2">
        <div class="list">
            <div class="item">
                <i class="icon puzzle"></i>{{ job.extension_name }}
            </div>
            <div class="item">
                <i class="icon code"></i>
                <span class="text">{{ job.handler_class }}</span>
            </div>
            {% if job.executed > 0 %}  
            <div class="item">         
                <i class="icon lightning"></i>
                <span class="text" title="{{ labels.executed }}">{{ job.executed|dateFormat }} {{ job.executed|timeFormat }}</span>                
            </div>  
            {% endif %}              
        </div>
    </div>
</div>
{% endfor %}
{% if jobs is empty %}
{{ labels.empty }}
{% endif %}