{% set items = service('event').dispatch('dashboard.get.items',[]) %}
{% set items = (items is iterable) ? items : [] %}
{% set column_class = column_class|default('two wide') %}
{% set model = createModel('Dashboard','dashboard') %}
<div class="p-2">
    <div class="ui big divided relxed list">              
        {% for item in items %}           
            {% if item.components is iterable %}   
                {% for panel in item.components %}
                    {% set visible = model.isVisible(panel.component) %}
                    {% set extension = panel.component|split('::')[0] %}  
                    
                    {{  component('dashboard::admin.settings.item',{ 
                            visible: visible,
                            component_name: panel.component,
                            extension: extension
                        }) 
                    }} 
                                              
                {% endfor %}
            {% else %}                  
                {% set component_name = (item.component is not empty) ? item.component : item %}      
                {% set visible = model.isVisible(component_name) %} 
                {% set extension = component_name|split('::')[0] %}    
                
                {{  component('dashboard::admin.settings.item',{ 
                        visible: visible,
                        component_name: component_name,
                        extension: extension
                    }) 
                }}           
            {% endif %}               
        {% endfor %}
    </div>
</div>