<div class="ui top tabular menu">
    <a class="item system-link active" data-tab="system_tab_item" component="system:admin.system.settings">
        <i class="icon setting"></i>
        {{ settings.content }}
    </a>   
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.update">
        <i class="icon download"></i>
        {{ update.content }}
    </a>   
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.logs">
        <i class="icon warning circle"></i>
        {{ logs.content }}
    </a>   
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.stats">
        <i class="icon bar chart"></i>
        {{ stats.content }}
    </a> 
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.events">
        <i class="icon calendar"></i>
        {{ events.content }}
    </a>   
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.ui-libraries">
        <i class="icon info cubes"></i>
        {{ ui_libraries.content }}
    </a> 
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.info">
        <i class="icon info circle"></i>
        {{ system_info.content }}
    </a>    
</div>
<div class="ui bottom attached tab padding-1 active" data-tab="system_tab_item" id="system_tab">
   
</div>