<div class="ui top tabular menu">
    <a class="item system-link active" data-tab="system_tab_item" component="system:admin.system.settings">
        <i class="icon setting"></i>
        {{ tabs.settings.content }}
    </a>   
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.update">
        <i class="icon download"></i>
        {{ tabs.update.content }}
    </a>   
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.logs">
        <i class="icon warning circle"></i>
        {{ tabs.logs.content }}
    </a>   
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.stats">
        <i class="icon bar chart"></i>
        {{ tabs.stats.content }}
    </a> 
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.events">
        <i class="icon calendar alternate outline"></i>
        {{ tabs.events.content }}
    </a>  
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.jobs">
        <i class="icon tasks"></i>
        {{ tabs.jobs.content }}
    </a>
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.modules">
        <i class="icon plug"></i>
        {{ tabs.modules.content }}
    </a> 
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.ui-libraries">
        <i class="icon info cubes"></i>
        {{ tabs.libraries.content }}
    </a> 
    <a class="item system-link" data-tab="system_tab_item" component="system:admin.system.info">
        <i class="icon info circle"></i>
        {{ tabs.info.content }}
    </a>    
</div>
<div class="ui bottom attached tab padding-1 active" data-tab="system_tab_item" id="system_tab">
   
</div>