<div class="navbar bg-neutral text-neutral-content">
    <div class="flex flex-row items-center">
        <div class="h-10 w-10">
            <img src="{{ template_url }}images/arikaim-logo-64x64.png">
        </div>
        <div class="flex flex-col">
            <a class="block px-2" href="{{ url('') }}">
                <span class="monoton-font text-3xl font-bold text-gray-200 hover:text-blue-500 transition duration-700 ease-in-out">
                    {{ title }}
                </span>
            </a>
            <div class="pl-2 text-xs text-stone-400">
                {{ subtitle }}
            </div>
        </div>       
    </div>
</div>